<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ganando precisión con los selectores en CSS</title>
	<link rel="stylesheet" href="../../static/css/Exercise3/styles.css">
</head>
<body>
	<div class="content">
		<h1 id="titulo" class="encabezado">
			Lista de la compra
		</h1>
		<hr>
		<p>Artículos de la compra</p>
		<ul class="lista-desordenada">
			<li id="ul_elemento-1">Papas 1/2@</li>
			<li id="ul_elemento-2">Carne 1Kg</li>
			<li id="ul_elemento-3">Tomate 1Kg</li>
			<li id="ul_elemento-4">Lava Vajillas</li>
			<li id="ul_elemento-5">Jabon liquido</li>
		</ul>
		<p>Supermercados más cercanos</p>
		<ol class="lista-ordenada">
			<li id="ol_elemento-1">ROTE</li>
			<li id="ol_elemento-2">Hipermaxi</li>
			<li id="ol_elemento-3">De Todo un Poco</li>
			<li id="ol_elemento-4">IC Norte</li>
			<li id="ol_elemento-5">10 de Febrero</li>
		</ol>
	</div>
</body>
</html>
