<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ejercicio 02/2 - Tablas en HTML</title>
</head>
<body>
	<h1>Libros favoritos</h1>
	<table border="1">
		<thead>
			<tr>
				<th>Título</th>
				<th>Autor</th>
				<th>Año de publicación</th>
				<th>Enlace a Amazon</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Erebos</td>
				<td>Ursula Poznanski</td>
				<td>2010</td>
				<td>
					<a href="https://www.amazon.com/-/es/Poznanski-Ursula/dp/3785573618">Comprar</a>
				</td>
			</tr>
			<tr>
				<td>La biblia de los caídos</td>
				<td>Fernando Trujillo Sanz</td>
				<td>2010</td>
				<td>
					<a href="https://books.google.com/books?id=BfX_sEaoOc0C&printsec=frontcover&dq=La+biblia+de+los+caidos&hl=es-419&sa=X&ved=2ahUKEwjH7-fclIL9AhWLLbkGHZO7D3wQ6AF6BAgGEAI">Comprar</a>
				</td>
			</tr>
			<tr>
				<td>Las ventajas de ser invisible</td>
				<td>Stephen Chbosky</td>
				<td>1999</td>
				<td>
					<a href="https://www.amazon.com/-/es/Stephen-Chbosky/dp/1476732450">Comprar</a>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>
